@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 10%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
