/* :root {
    --green: #aee28a;
    --blue: #4e92df;
    --orange: #f3a536;
    --red: #fd7173;
    --gray: #707a83;
  } */

.selectContainer {
  width: 200px;
  margin: 100px auto;
}

.selectTitle {
  margin-bottom: 7px;
}

.btn {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #707a83;
  border: 1px solid #707a83;
  border-radius: 5px;
  padding: 6px;
  background: transparent;
  margin-bottom: 2px;
}

.btn:focus {
  border: 2px solid #4e92df;
}

.selectUl {
  list-style-type: none;
  color: #707a83;
  border: 1px solid #707a83;
  border-radius: 5px;
}

.circle {
  margin-right: 5px;
}

.selectUl li {
  cursor: pointer;
  padding: 7px;
}

.selectUl li:hover {
  background-color: #eeeeee;
}
